/* import the font karabo dont forgrt */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  animation: ro;
}

main {
  margin-top: 7rem;
  text-align: center;
}

h1, h2, h3 {
  color: greenyellow;
}

p {
  color: black;
}
